.sidebarOption{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebarOption > h2{
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}

.sidebarOption > .MuiSvgIcon-root {
    padding: 20px;
}

.sidebarOption:hover{
    transition: color 100ms ease-out;
    color: var(--twitter-color);
    border-radius: 30px;
    background-color: aliceblue;
}

.sidebarOption--active{
    color: var(--twitter-color);
}